body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(196,91,247,1) 100%);
}

.kepek{
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 100px;
}

.slide-left1 {
    position: absolute;
-webkit-animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 30s both;
animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 30s both;
}
.slide-left2 {
    position: absolute;
-webkit-animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 25s both;
animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 25s both;
}
.slide-left3 {
    position: absolute;
-webkit-animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 20s both;
animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 20s both;
}

.slide-left4 {
    position: absolute;
-webkit-animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 15s both;
animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 15s both;
}
.slide-left5 {
    position: absolute;
-webkit-animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 10s both;
animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 10s both;
}
.slide-left6 {
    position: absolute;
-webkit-animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
animation: slide-left 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 5s both;
}
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1500px);
            transform: translateX(-1500px);
  }
}
